version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "22:00"
    allow:
      - dependency-type: "direct"
    reviewers:
      - "@nugit/front-devs"
    target-branch: "develop"
    commit-message:
      prefix: "fix:"
