.env

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Folders to ignore
.hg
.svn
.CVS
.idea
pids
logs
results
temp


# Editors
*.sublime-workspace
# Vim swap and backup files
*.swo
*.swp
.vscode

# Node and NPM
npm-debug.log
node_modules
yarn-error.log

# ESLint
.eslintcache
