version: 2.1

commands:
  install:
    description: 'Yarn install'
    steps:
      - restore_cache: # Special step to restore the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
            - yarn.lock

jobs:
  lint:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10
    steps:
      - checkout
      - install
      - run: yarn lint
  flow:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10
    steps:
      - checkout
      - install
      - run: yarn flow
  test:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10
    steps:
      - checkout
      - install
      - run: yarn test
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10
    steps:
      - checkout
      - install
      - run: yarn build
  publish:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.10
    steps:
      - checkout
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/repo
      - install
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run: npm publish

workflows:
  version: 2
  deploy:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - flow:
          filters:
            tags:
              only: /.*/
      - test:
          filters:
            tags:
              only: /.*/
      - build:
          filters:
            tags:
              only: /.*/
      - publish:
          requires:
            - lint
            - test
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+.*/
